@import "hamburgers";
@import "_base";

/* Variables */

$primary-font: 'Poppins';
$secondary-font: 'Montserrat';
$navbar-height: 9.2vh;
$light-border: rgba(236, 236, 236, 0.2);
$primary-color: #ee3158;
$hover-transition: 0.8s all ease;

/* [2] Navigation-Menu */

.navbar {
    height: $navbar-height;
    border-bottom: 1px solid $light-border;
    padding: 0;
}

.navbar-menu {
    height: 100%;
}

.navbar-brand,
.navbar-logo,
.nav-item,
.nav-link,
.navbar-additional,
.navbar-search {
    height: inherit;
}

.navbar-additional,
.navbar-search {
    border-left: 1px solid $light-border;
}


/* Logo */

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0 1.875rem;
}

.navbar-logo {
    border-right: 1px solid $light-border;
}

.logo {
    max-height: 7vh;
    max-width: 13vh;
}


/* Nav Items */

.navbar-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    padding: 0.5rem 1.625rem;
}

.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* Nav Additional */

i {
    color: #222;
}

.navbar-additional {
    padding: 0 2.5rem;
    text-align: center;
}

.social-box {
    height: 1.875rem;
    width: 1.875rem;
    a {
        -webkit-transition: $hover-transition;
        transition: $hover-transition;
    }
    a:hover {
        opacity: 0.5;
        -webkit-transition: $hover-transition;
        transition: $hover-transition;
    }
}

.social-box:not(:last-child) {
    margin-right: 1.563rem;
}


/* Nav Search */

.navbar-search {
    padding: 0 2.5rem;
    a:hover {
        text-decoration: none;
    }
}

.fa-search {
    height: 3.125rem;
    width: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* Hamburger Menu */

.navbar-toggler:focus {
    outline: none;
}


/* Media Queries */

@media only screen and (max-width: 991px) {
    .navbar {
        border: 0;
        .navbar-logo {
            border: 0;
        }
        .navbar-menu {
            height: 0;
            .navbar-nav {
                background-color: #212529;
                .nav-item {
                    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
                    .nav-link {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-additional,
    .navbar-search {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 1273px) {
    .navbar-additional,
    .navbar-search {
        padding: 0 2.5rem;
    }
}